*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index:2000;

}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: fff;
    background:  #000;
    padding: 10px 15px;
    text-decoration: none; 
    -webkit-transition: all 500ms ease;
    -o-transition: all 500 ms ease;
    transition: all 500ms ease; 
}

.social ul li .icon-Facebook {background:#3b5998;}
.social ul li .icon-correo {background:violet;}
.social ul li .icon-instagram {background:#fd1d1d;}
.social ul li .icon-gorjeo {background:#1da1f2;}
.social ul li .icon-whatsapp {background:#25d366;}

.social ul li a:hover {
    padding: 10px 30px;
    background: #000;
}




:root{
    scroll-behavior: smooth;

}
body´{
    font-family: 'Open Sans', sans-serif;

}


.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.5) 100%), url(../img/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
}
.contenit{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:0 0 6px rgba(0, 0, 0, .5)
    
}
 .menu-navegacion{
     position: fixed;
     top: 0;
     right: 0;
     width: 30vw;
     height: 100%;
     background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     transition: transform .3s ease-in-out;
     transform: translate(100%);

     box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
     
 
 }
 .spread{
     transform: translate(0);
     color: white;
     text-decoration: none;
 }

 .titulo{
     font-size: 60px;
     margin-bottom: 15px;
     
 }
 .copy{
     font-weight: 600;
     font-size: 50px;
 }

 .subtitulo{
     text-align: center;
     font-weight: 300;
     color: #9f8ad0;
     margin-bottom: 40px;
     font-size: 40px;
 }

 .contenedor-horario{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;

 }

 .contenedor-horario img{
     width: 40%;

 }

 .checklist-horario{
     width: 45%;

 }

 .horace{
     margin-bottom: 7px;
     color: #9f8ad0;
 }

 .number{
     display: inline-block;
     background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
     width: 30px;
     height: 30px;
     color: white;
     text-align: center;
     border-radius: 50%;
     font-weight: 700;
     line-height: 30px;
     margin-right: 5px;    
 }

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.img-articulos{
    width: 150%;
    display: ruby-base-container;
    margin-bottom: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2 ease-in-out;
}
.show{
    transform: translate(0);
}

.agregar-imagen{
    width: 30%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.informations{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-information{
    width: 900%;
    text-align: center;
    margin-bottom: 20%;
}

.cont-information img{
    width: 30%;
    display: ruby-base;
    margin:0 auto;
}

.n-information{
    display: table-column-group;
    margin-top: 20px;
    width: 75%;
    font-weight: 400;

}
footer{
    background:  #9f8ad0;
    padding-bottom: 0.1px;
    }
.map-us{
    width: 40%;
    color: white;
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.social-media-icon:hover{
    background: white;
    color: #764ba2;
}
.social-media-icon i{
    font-size: 60px;
    line-height:  120px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height:  2px;
    background: white;
    margin-bottom: 60px;
}
